
/* * {
    border: 1px solid red;
} */

.index-page {
    background-color:royalblue;
    padding-top: 10px;
}

.main{
    width: 500px;
    height: 800px;
    margin: 0 auto;
    padding: 60px;
    background-color: lightblue;
}

.title {
    text-align: center;
    font-size: 60px;
    padding: 40px;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    border: 3px solid grey;
}

.recipe-div {
    margin: 0 auto;
}

.recipe-link {
    padding: 20px;
}

.table-of-contents {
    font-size: 30px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    list-style-type: none;
}

.waffles-background {
    background-color: burlywood;
}

.subheading {
    font-size: 30px;
}

.waffles-pic {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    display: block;
}